@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.container {
  padding: $indent $indent $indent/4 $indent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 850px) {
    padding: $indent_mobile $indent_mobile $indent_mobile/4 $indent_mobile;
  }
}

.info {
  @include column;
  @include center;
  gap: 17px;
  padding: $indent;
  @media (max-width: 850px) {
    padding: $indent_mobile;
  }
}


