.scroll {
  &.smooth > div {
    scroll-behavior: smooth;
  }
  & > div {
    z-index: 1;
    overflow-x: hidden !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.track-horizontal {
}
.track-vertical {
  right: 3px;
  height: 100%;
}
.thumb-horizontal {
}
.thumb-vertical {
  background: var(--scrollbar);
  border-radius: 1px;
  width: 50px;
}
