.root {
  :global(.MuiFormLabel-root) {
    color: var(--text-secondary);
    font-family: 'Mulish', sans-serif;
  }
  :global(.MuiFormLabel-root.Mui-error) {
    color: var(--error);
  }
  & :global(.MuiInputBase-root) {
    border-radius: 16px;
  }
  :global(.MuiOutlinedInput-notchedOutline),
  :global(.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline) {
    border-color: var(--border-primary);
    border-radius: 16px;
    transition: border-color 0.2s, filter 0.2s;
  }
  :global(.MuiInputBase-root.Mui-focused),
  :global(.MuiInputBase-root.Mui-focused):hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--primary);
    }
  }
  :global(.Mui-error.MuiInputBase-root .MuiOutlinedInput-notchedOutline),
  :global(.Mui-error.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline) {
    border-color: var(--error);
  }

  :global(.MuiInputBase-root):hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      filter: brightness(1.4);
    }
  }

  :global(.MuiInputBase-input) {
    font-family: 'Mulish', sans-serif;
    color: var(--text-primary);
    &::placeholder {
      color: var(--text-tertiary);
      opacity: 1;
    }
  }

  :global(.Mui-focused.Mui-error) {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--error);
    }
  }
  :global(.MuiInputBase-colorSuccess),
  :global(.MuiInputBase-root.MuiInputBase-colorSuccess):hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--success);
    }
  }
  :global(.Mui-focused.MuiInputBase-colorSuccess),
  :global(.MuiInputBase-root.Mui-focused.MuiInputBase-colorSuccess):hover {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: var(--success);
    }
  }
  :global(.MuiFormLabel-root.MuiFormLabel-colorSuccess) {
    color: var(--success);
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  bottom: -5px;
  right: 10px;
  padding: 0 5px;
  background-color: var(--bg-secondary);
}
