$dark-theme: (
  bg-primary: #141515,
  bg-primary-alpha: rgba(20, 21, 21, 0.6),
  bg-secondary: rgb(33, 33, 33),
  bg-secondary-alpha: rgba(35, 35, 35, 0.8),
  bg-block-3: #8fa0af,
  border: rgb(50, 50, 50),
  border-primary: #4a545c,
  text-primary: #dbe9ec,
  text-primary-light: #c7d0d4,
  text-secondary: #abbbc9,
  text-secondary-light: #abbbc9,
  text-tertiary: #778592,
  interactive-primary: #53a0ff,
  primary: #0d6cbd,
  gray-focused: #304255,
  gray-hover: rgb(38, 38, 40),
  ripple: rgba(114, 173, 246, 0.3),
  shadow: rgba(25, 25, 26, 0.5),
  scrollbar: rgba(64, 71, 78, 0.5),
  bg-snackbar: rgba(5,5,5,0.75)
);
