$light-theme: (
  bg-primary: #eeeeee,
  bg-primary-alpha: rgba(201, 223, 236, 0.3),
  bg-secondary: #fff,
  bg-secondary-alpha: rgba(250, 250, 250, 0.7),
  bg-block-3: #8fa0af,
  border: #cdd5de,
  border-primary: #cdd5de,
  text-primary: #303b49,
  text-primary-light: #dbe9ec,
  text-secondary: #616c76,
  text-secondary-light: #abbbc9,
  text-tertiary: #8fa0af,
  interactive-primary: #7eb8f3,
  primary: #62a2e3,
  gray-focused: #dcebf6,
  gray-hover: #f4f6f8,
  ripple: rgba(114, 173, 246, 0.3),
  shadow: rgba(187, 188, 194, 0.5),
  scrollbar: rgba(195, 200, 206, 0.6),
  bg-snackbar: rgba(23, 23, 23, 0.5),
  error: #ce5151,
  success: #48a648,
);
