@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin absolute-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin aside-width {
  width: 25%;
  @media (max-width: 1250px) {
    width: 33.333%;
  }
  @media (max-width: 950px) {
    max-width: 320px;
    width: 100%;
  }
  @media (max-width: 850px) {
    max-width: unset;
  }
}