@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin absolute-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
